#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.portfolio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.portfolio-item {
    flex: 1 1 calc(25% - 1rem); /* 4 items per row */
    max-width: calc(25% - 1rem);
    text-align: center;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.portfolio-container img:hover{
    background-color: rgb(228, 126, 146);
    transform: scale(1.10);
    border-radius: 10px;
    transition: 0.3s;
}

.portfolio-showmore{
    border-radius: 50px;
    border: 2px solid black;
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}

.portfolio-showmore:hover{
    gap: 30px;
    transition: 0.6s;
}

@media screen and (max-width: 800px){
    .portfolio-container{
        display: block;
    }
}

@media (max-width: 768px) {
    .portfolio-item {
        flex: 1 1 calc(50% - 1rem); /* 2 items per row */
        max-width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .portfolio-item {
        flex: 1 1 100%; /* 1 item per row */
        max-width: 100%;
    }
}