.cover{
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 2rem;
    height: 40rem;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.introContent{
    align-self: center;
    text-align: center;
    max-width: 600px;
}

.hello{
    font-size: 40px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.name{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    padding-bottom: 0;
    display: inline-block;
    animation: fadeIn 2s ease-in-out infinite alternate;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn{
    background-color: black; 
    padding: 1rem;
    color: white;
    border: none;
    margin-right: 1rem;
}

.btnTwo{
    border: 0.2rem solid black;
    color: black;
    background-color: crimson;
    padding: 0.8rem;
}

.headshot{
    border: 0.5rem solid white;
    border-radius: 50%;
    align-self: center;
    width: 30rem;
    height: 30rem;
}

/* Responsive styles */
@media screen and (max-width: 800px) {
    .cover{
        display: inline-block;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 2rem;
    }

    .headshot{
        display: none;
    }

    .introContent{
        position: relative;
        top: -10%;
    }
}

@media (max-width: 768px) {
    .cover{
        display: inline-block;
        justify-content: center;
        align-content: center;
        text-align: center;
        height: auto;
        padding: 3rem;
    }
    .introContent h1 {
        font-size: 1.8rem;
    }

    .introContent p {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 480px) {
    
    .introContent h1 {
        font-size: 1.5rem;
    }

    .introContent p {
        font-size: 0.9rem;
    }

    .headshot{
        width: 20rem;
        height: 20rem;
    }


    .btn {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
    }
}